<div class="profil-g">
  <center class="profil-head">
  	<h1>Mon Frigo</h1>
  	<p>cette page , c'est la tienne prend en soin ;)</p>
  </center>

  <div class="profil-corps">
  	<center class="frigo">
  		<h1>Mon Frigo</h1>
  	</center>
  </div>
</div>