<div class="about-g">
  <center class="about-head">
  	<h1>About</h1>
  	<p>cette page , c'est nous !</p>
  </center>

  <div class="about-corps">
  	<center>
  		<img src="" alt='Seb'>
  		<img src="" alt="Paul">
  	</center>
  	<center>
  		<img src="" alt="Max">
  		<img src="" alt="Nico">
  	</center>
  </div>
</div>