<div class="admin-g">
  <center class="admin-head">
  	<h1>ADMIN</h1>
  	<p>quel coté choissira tu ? la pilule bleu est parfaite ou alors prefèrera tu la pilule rouge</p>
  </center>
  <div class="admin-onglet">
  	<p><%= link_to 'Recettes', recipes_path , class:"link-control b"%></p>
  	<p><%= link_to 'Ingrédients', ingredients_path , class:"link-control r"%></p>
  </div>
</div>