<div>
  <center>
    <div style='width:500px'>
      <h1 style='margin-top:35px;background-color:white;border-radius:5px 5px 5px 5px;padding:10px;'>Recettes que je peux faire</h1>
    </div>

    <div>
      <% @r_final.each do |k, v| %>
        <p>Matching : <%= @fridge_ing.count.to_f / Recipe.find(k).ingredients.count.to_f * 100 %> %</p>
        <a href=<%= recipe_path(k) %>><img src=<%=Recipe.find(k).picture %> style='width:450px;height:450px'></img></a>
      <% end %>
    </div>
  </center>



</div>
