<center id="home">
	<h1>Bienvenue sur Cook'it</h1>

	<p>profil d'essais:</p>
	<p>
		username : a@a.a
		mdp      : azerty
	</p>
		<p>
		username : b@b.b
		mdp      : qwerty
	</p>
		<p>
		username : c@c.c
		mdp      : azerty
	</p>
		<p>
		username : d@d.d
		mdp      : qwerty
	</p>
	<%= render 'layouts/partials/carrousel' %>
</center>