<div class="profil-g">
  <center class="profil-head">
  	<h1>Ma Liste de Course</h1>
  	<p>cette page , c'est la tienne prend en soin ;)</p>
  </center>

  <div class="profil-corps">
  	<center class="liste">
  		<h1>Ma Liste</h1>

      <% @list_user.each do |recipe| %>
        <% (IngredientToRecipe.where(recipe_id: Recipe.find(recipe.recipe_id))).each do |ing| %>
          <p><%= (Ingredient.find(ing.ingredient_id)).name %> - <%= ing.quantity %></p>
        <% end %>
      <% end %>

  	</center>
  </div>
</div>
