<center><h1>connécte toi !</h1></center>
<p> et oui! cook'it c'est super bien mais il faut te connécter pour pouvoir profiter de toutes ces super fonctionnalitées.</p>
<p>une fois que tu auras créer ton compte tu pourras</p>
<ul>
	<li>créer des recettes</li>
	<li>vôter pour tes recettes préférées (ou celles que tu détèstes)</li>
	<li>générer une liste de courses à partir de recettes séléctionnées</li>
	<li>t'envoyer la liste de courses par texto ou par mail</li>
	<li>trouver des recettes a partir des aliments que tu as dans ton frigo</li>
	<li>et pleins d'autres fonctionnalitées bientôt disponible</li>
