<% if Quote.all.count > 0 %>
	<% @quote = Quote.all.shuffle.first %>
	<div class="citation">
		<div class="corps">
			<p>"<%= @quote.corps %>"</p>
		</div>
		<div class="source">
			<p><%= @quote.source %></p>
		</div>
	</div>
<% end %>