<div class="profil-g">
  <center class="profil-head">
  	<h1>Ma Liste de Course</h1>
  	<p>cette page , c'est la tienne prend en soin ;)</p>
  </center>

  <div class="profil-corps">
  	<center class="liste">
  		<h1>Ma Liste</h1>

      <h4>Mes recettes sélectionnées</h4>
        <% @list_user.each do |recipe| %>
          <p><%= Recipe.find(recipe.recipe_id).name %></p>
        <% end %>
      <h4>Mes ingrédients à acheter</h4>
        <% @list_ing_user.each do |ing| %>
          <p><%=@text =  Ingredient.find(ing.ingredient_id).name %> - <%= ing.quantity %>
        <% end %>

  	</center>
          <%= link_to 'send', send_path %>

  </div>
</div>
