<div style="; height:100%; display: flex;flex-direction: column; justify-content: center;align-items: center;">
    <h1>Ajouter un Tag</h1>
  <div class="form" style="width: 50%;">
    <%= form_for @tag, remote:true do |rec| %>
      <p></p>
      <p><%= rec.text_field :name, placeholder: 'nom', class:"form-control" %></p>
      <p><%= rec.submit 'Ajouter un Tag', class:"form-control", remote:true %></p>
    <% end %>
  </div>
</div>