/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

a
{
	cursor: pointer;
	text-decoration: none;
}
 /* Element CSS pour la barre de navigation gauche */

 /* General */
#masterbar
{
	display: fixed;
	height: 100%;
	width: 200px;
	background-color: #344C87;
}

 /* Tete */
#masterbar-head
{
	display: flex;
	flex-wrap: wrap;
	height: 30%;
}

.logo
{
	height: 100%;
	width: auto;
}
 /* Corps */
#masterbar-navigation 
{
	height: 55%;
}

#masterbar-navigation ul li
{	
	list-style-type: none;
}
.masterbar-link
{
 text-decoration: none;
 color:lightgrey;
}
.masterbar-link:hover
{
	text-decoration: none;
	color:grey;
}

/* footer */
#masterbar-footer
{
	display: flex;
	justify-content: center;
}

.split
{
	width: 90%;	
}
/***************************************************************/

 /* Element CSS pour Le site complet */
html
{
	width: 100%;
	height: 100%;
}

body
{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	height: 100%;
}

.masterbar-yield
{
	position: fixed;
	height: 100%;
}

.yield
{
		margin-left: 200px;
	background-color: #FFEFEF;
	display: flex;
	justify-content: center;
	align-content: center;
	min-height: 100%;
	flex:10;
}
/***************************************************************/

.form-total
{
	align-self: center;
	display: flex;
	flex-direction: column;
}

.form
{
	min-width: 150px;
	border-style: inset;
	background-color: #EEEEEE;
	box-shadow: 5px 2px 2px lightgrey; 
	border-width: 1px;
	padding: 2%;
}

.form-control
{
	border-style: ridge;
	border-radius: 5px;
	border-width: 1px;
	box-shadow: 5px 2px 2px lightgrey; 
}