/*Disposition de la page admin*/
#home
{
	width: 100%;
	margin-left: 200px;
}

.recipe-show {
	background-color: white;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	border-radius: 15px 15px 15px 15px;
	flex-wrap: wrap;
}

.recipe-show-left {
	display: flex;
	flex-direction: column;
	margin-left: 25px;
	max-width: 70%;
}

.recipe-show-head {
	font-size: 3em;
}

.recipe-show-info {
	background-color: rgba(235, 235, 235, 1);
	padding: 5px;
	border-radius: 5px 5px 5px 5px;
	font-size: 0.3em;
}

.recipe-show-ing {
	margin-top: 20px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.recipe-show-list-btn-add {
	width: 100%;
	text-align: center;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.vote {
	margin-bottom: 20px;
}

.recipe-show-right {

}

.recipe-show-picture {
	width: 400px;
	height: 400px;
	margin-right: 25px;
}



.admin-g , .recettes-g , .ingredients-g, .profil-g, .about-g
{
	width: 100%;
	display: flex;
	flex-direction: column;
}

.admin-head , .recipes-head , .ingredients-head , .profil-head , .about-head
{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	background-color: #FFEFEF;
	box-shadow: 0px 5px 5px lightgrey;
}

#form1 {
		margin-right: 35px;
}

h3 {
	font-size: 3em;
}

.btn-submit {
	font-size: 10px;
	margin-top: 10px;
}

.btn-submit2 {
	margin: 5%;
}

.card-body {
	text-align: center;
}

.btn-recipe {
	display: flex;
	justify-content: center;
}

.btn-edit-delete {
	display: flex;
	justify-content: center;
	padding-top: 5px;
}

.ingredient-titre , .recipe-titre, .admin-titre
{
	display: flex;
	flex-direction: column;
	margin-left: 35px;
}
.ingredient-link , .recipe-link, .admin-link
{
	display: flex;
	justify-content: space-around;
}
.recipes-corps
{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 1%;
}

.recipe
{
	margin: 1%;
	margin-bottom: 3px;
}

.profil-corps , .about-corps, .ingredients-corps, .ingredients-recipe
{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

/*Les cartes au survol*/
.card-hover
{
	display: flex;
	flex-direction: column;
	position: absolute;
	color: white;
	width: 100%;
	height: 100%; 
	opacity: 0;
	z-index: 4;
}

.card-hover-background
{
	z-index: 4;
	position: absolute; 
	background-color: black;
	width: 100%;
	height:100%;
	opacity: 0.7
}

.card-hover-link
{
	z-index:5 ;
	display: flex;
	justify-content: center;
}

.card-hover-info
{
	z-index: 5;
}

.card-hover:hover
{
	transition: 0.3s;
	opacity: 1;
}

.card-content:hover .card .card-body
{
	display: none;
}
/****************************************/

.about-corps center
{
	display: flex;
	flex-direction: column;
}

.frigo , .liste
{
	margin-top: 20%;
	width: 30%;
	border:solid;
	border-width: 1px;
	box-shadow: 0px 5px 5px grey;
	background-color: #EEEEEE;
	border-radius: 30%;
	min-height: 400px;
}

.link-control
{
	display: inline-block;
	color: lightblue;
	font-weight: bold;
	font-size: 150%;
	background-color: #EA8D01;
	text-decoration: none;
	padding: 10%;
	border-color: lightgrey;
	border-style: solid;
	border-radius: 0px 0px 30px 30px;
	border-width: 2px;
	border-top-style:none;
}

.controlw
{
	width: 50%;
}

.link-control:hover
{
	cursor:pointer;
	color: lightblue;
	text-decoration: none;
	background-color: #569800;
}
/*****************************/
