/*Disposition de la page admin*/
#home
{
	width: 100%;
	height: 100%;
	margin-left: 200px;
}

.image-mini
{
	width: 30px;
	height:30px;
}


/*
-------
Home
-------
*/

/*
-------------
Recipe show
------------
 */

.recipe-show {
	background-color: white;
	display: flex;
	flex-direction: row;
	justify-content: left;
	border-radius: 15px 15px 15px 15px;
	flex-wrap: wrap;
	margin: 35px;
	padding-bottom: 30px;
}

.recipe-show-btn {
	margin-top: 35px;
	padding-bottom: 15px;
}

.recipe-show-description {
	padding-left: 15px;
	white-space: pre-line;
	border-left: 1px black solid;
}

.recipe-show-head {
	font-size: 3em;
}

.recipe-show-info {
	background-color: rgba(235, 235, 235, 1);
	padding: 5px;
	border-radius: 5px 5px 5px 5px;
	font-size: 0.3em;
}

.recipe-show-ing {
	margin-top: 20px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.recipe-show-left {
	display: flex;
	flex-direction: column;
	margin-left: 25px;
	max-width: 70%;
	order: 2;
}

.recipe-show-list-btn-add {
	width: 100%;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 70px;
}

.recipe-show-list-ing {
	padding-right: 15px;
	min-width: 250px;
}

.recipe-show-picture {
	width: 400px;
	height: 400px;
	padding: 25px;
}

.recipe-show-right {
	order: 1;
	max-width: 400px;
}

.recipe-show-tag {

}

.recipe-show-vote {
	margin-bottom: 20px;
}



.admin-g , .recettes-g , .ingredients-g, .profil-g, .about-g
{
	width: 100%;
	display: flex;
	flex-direction: column;
}

.admin-head , .recipes-head , .ingredients-head , .profil-head , .about-head
{
	display: flex;
	flex-direction: column;
	background-color: #5177D3;
	box-shadow: 0px 5px 5px lightgrey;
}

#form1 {
		margin-right: 35px;
}

h3 {
	font-size: 3em;
}

.btn-submit {
	font-size: 10px;
	margin-top: 10px;
}

.btn-submit2 {
	margin: 5%;
}

.card-body {
	text-align: center;
}

.btn-recipe {
	display: flex;
	justify-content: center;
}

.btn-edit-delete {
	display: flex;
	justify-content: center;
	padding-top: 5px;
}

.ingredient-titre , .recipe-titre, .admin-titre
{
	display: flex;
	flex-direction: column;
	margin-left: 35px;
}
.ingredient-link , .recipe-link, .admin-link
{
	display: flex;
	justify-content: space-around;
}
.recipes-corps
{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 1%;
}

.recipe
{
	margin: 1%;
	margin-bottom: 3px;
}

.profil-corps , .about-corps, .ingredients-corps, .ingredients-recipe
{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

/*Les cartes au survol*/
.card-hover
{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	position: absolute;
	color: white;
	width: 100%;
	height: 100%;
	opacity: 0;
	z-index: 4;
}

.card-hover-background
{
	z-index: 4;
	position: absolute;
	background-color: black;
	width: 100%;
	height:100%;
	opacity: 0.7
}

.card-hover-link
{
	z-index:6 ;
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-wrap: wrap;
}

.card-hover-info
{
	display: flex;
	flex-direction: column;
	align-items: center;
	z-index: 5;
}

.card-hover:hover
{
	transition: 1s;
	opacity: 1;
}

.card:hover .card-title
{
	display: none;
}
/****************************************/

.about-corps center
{
	display: flex;
	flex-direction: column;
}

.frigo
{
	margin-top: 50px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	height: 600px;
	overflow: scroll;
	width: 40%;
	box-shadow: 6px 6px 6px #996752;
	background-image: url("frigo.jpg");
	border-radius: 5px;
	padding-top: 11%;
	padding-left: 5%;
	padding-right: 5%;
	margin-bottom: 10px;
}
.ingredient-hover:hover .ingredient-hover-img
{
	transition: 1s;
	width: 100px;
	height: 100px;
}
.ingredient-hover-img
{
	transition: 1s;
	width: 50px;
	height: 50px;
	cursor: pointer;
}
.ingredient-hover .ingredient-hover-background
{
	position: absolute;
	display: block;;
	opacity: 0;
	width:50px;
	height: 50px;
}
.ingredient-hover:hover .ingredient-hover-background
{
	z-index: 5;
	opacity: 1;
	transition: 1s;
	width:100px;
	height: 100px;
}

.link-control
{
	display: inline-block;
	color: lightblue;
	font-weight: bold;
	font-size: 150%;
	background-color: #EA8D01;
	text-decoration: none;
	padding: 10%;
	border-color: lightgrey;
	border-style: solid;
	border-radius: 0px 0px 30px 30px;
	border-width: 2px;
	border-top-style:none;
}

.controlw
{
	width: 50%;
}

.link-control:hover
{
	cursor:pointer;
	color: lightblue;
	text-decoration: none;
	background-color: #569800;
}
/**********************liste*******/

.liste-corps{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.liste{
	margin-top: 100px;
	background-color: white;
	box-shadow: 6px 6px 6px #996752;
	margin-bottom: 50px;
	border-radius: 5px;
	width: 20%;
	overflow: scroll;
	max-height: 500px;

}

.envoie{
	background-color: white;
	box-shadow: 6px 6px 6px #996752;
	border-radius: 5px;
	width: 20%;

}

.liste-head{
	display: flex;
	flex-direction: column;
	background-color: #5177D3;
	box-shadow: 0px 5px 5px lightgrey;
}

.new-tag
{
	position: absolute;
	width: 280px;
	max-height: 200px;
	overflow: scroll;
}