<div style="; height:100%; display: flex;flex-direction: column; justify-content: center;align-items: center;">
    <h1>Ajouter un Tag</h1>
  <div class="form">
    <% Tag.all.each do |t| %>
    	<%= form_for @tagrecipe, remote:true do |rec| %>
    		<%= hidden_field_tag(:tag_id, t.id, class:"form-control") %>
    		<%= hidden_field_tag(:recipe_id, @recipe_id, class:"form-control") %>
    		<p><%= rec.submit  t.name , class:"form-control pointeur"%></p>
    	<% end %>
 	  <% end %>
  </div>
</div>