<p> Et oui ! Cook'it c'est super bien mais il faut te connecter pour pouvoir profiter de toutes ces supers fonctionnalitées.</p>
<p>Une fois que tu auras créé ton compte tu pourras :</p>
<ul>
	<li>générer une liste de courses à partir de recettes sélectionnées</li>
	<li>t'envoyer la liste de courses par texto ou par mail</li>
	<li>trouver des recettes à partir des aliments que tu as dans ton frigo</li>
	<li>créer des recettes</li>
	<li>voter pour tes recettes préférées (ou celles que tu détestes)</li>
	<li>et pleins d'autres fonctionnalitées ;)</li>