<div id="masterbar">
	<div class="masterbar-head">
		<div class="mb1"><%= image_tag 'logo.png', class:"logo" %></div>
		<div class="mb2">Cook'it</div>
	</div>
	<hr style="width: 90%">
	<div class="masterbar-navigation">
		<ul>
			<li><a><%= link_to 'Admin', admin_path %></a></li>
			<li><a>profil</a></li>
			<li><a>edit profile</a></li>
			<li><a>mon frigo</a></li>
			<li><a>ma liste</a></li>
			<li><a>login</a></li>
			<li><a>logout</a></li>
			<li><a>signup</a></li>
		</ul>
	<hr style="width: 90%">
		<ul>
			<li>recette</li>
			<li></li>
			<li></li>
		</ul>
	</div>
	<hr style="width: 90%">
	<div class="masterbar-footer">
		<center><a>about</a></center>
	</div>
</div>
